.KukiPuki_text_mode1{
--text-size-4xl: 48px;
--text-size-3xl: 32px;
--text-size-l: 18px;
--text-size-5xl: 72px;
--text-size-xl: 20px;
--text-size-xs: 12px;
--text-size-m: 16px;
--text-size-s: 14px;
--text-size-2xl: 24px;
--text-size-6xl: 96px;
--text-size-2xs: 10px;
}