.KukiPuki_spaces_mode1{
--spaces-2xl: 32px;
--spaces-3xl: 40px;
--spaces-xl: 24px;
--spaces-l: 20px;
--spaces-m: 16px;
--spaces-s: 12px;
--spaces-xs: 8px;
--spaces-4xl: 48px;
--spaces-5xl: 72px;
--spaces-2xs: 4px;
--spaces-6xl: 96px;
--spaces-3xs: 2px;
}