.KukiPuki_color_light{
--color-global-surface-special-soft: var(--color-ref-scale-grey-65-shuttle_gray);
--color-global-surface-special-tone: var(--color-ref-scale-grey-125-shuttle_gray);
--color-global-surface-status-neutral: var(--color-ref-scale-grey-65-shuttle_gray);
--color-global-border-view-ghost: var(--color-ref-scale-grey-125-shuttle_gray);
--color-global-surface-special-stripe: var(--color-ref-scale-brand-65-lochmara);
--color-global-surface-view-accent: var(--color-ref-scale-brand-65-lochmara);
--color-global-surface-special-shadow: var(--color-ref-scale-grey-940-shuttle_gray);
--color-global-surface-status-warning: var(--color-ref-scale-orange-65-buttercup);
--color-global-surface-status-critical: var(--color-ref-scale-red-65-alizarin_crimson);
--color-global-surface-status-success: var(--color-ref-scale-green-65-jungle_green);
--color-global-surface-view-ghost: var(--color-ref-scale-grey-0-shuttle_gray);
--color-global-surface-status-normal: var(--color-ref-scale-grey-65-shuttle_gray);
--color-global-surface-view-secondary: var(--color-ref-scale-brand-125-lochmara);
--color-global-surface-status-alert: var(--color-ref-scale-red-65-alizarin_crimson);
--color-global-surface-view-primary: var(--color-ref-scale-grey-0-shuttle_gray);
--color-global-border-view-primary: var(--color-ref-scale-grey-125-shuttle_gray);
--color-global-border-view-secondary: var(--color-ref-scale-grey-190-shuttle_gray);
--color-global-border-view-clear: var(--color-ref-scale-grey-0-shuttle_gray);
--color-global-surface-view-clear: var(--color-ref-scale-grey-none-shuttle_gray);
--color-global-border-view-accent: var(--color-ref-scale-brand-500-lochmara);
--color-global-border-status-caution: var(--color-ref-scale-orange-500-buttercup);
--color-global-border-status-warning: var(--color-ref-scale-orange-500-buttercup);
--color-global-border-status-alert: var(--color-ref-scale-red-500-alizarin_crimson);
--color-global-border-status-critical: var(--color-ref-scale-red-565-alizarin_crimson);
--color-global-border-status-neutral: var(--color-ref-scale-grey-500-shuttle_gray);
--color-global-border-status-normal: var(--color-ref-scale-grey-440-shuttle_gray);
--color-global-border-status-success: var(--color-ref-scale-green-500-jungle_green);
--color-global-border-state-disabled: var(--color-ref-scale-grey-250-shuttle_gray);
--color-global-border-state-focus: var(--color-ref-scale-brand-440-lochmara);
--color-global-border-state-hover: var(--color-ref-scale-brand-565-lochmara);
--color-global-border-state-active: var(--color-ref-scale-brand-625-lochmara);
--color-global-surface-status-hover-success: var(--color-ref-scale-green-125-jungle_green);
--color-global-surface-status-hover-normal: var(--color-ref-scale-grey-125-shuttle_gray);
--color-global-surface-status-hover-neutral: var(--color-ref-scale-grey-125-shuttle_gray);
--color-global-surface-status-hover-warning: var(--color-ref-scale-orange-125-buttercup);
--color-global-surface-status-hover-alert: var(--color-ref-scale-red-125-alizarin_crimson);
--color-global-surface-status-hover-critical: var(--color-ref-scale-red-125-alizarin_crimson);
--color-global-surface-view-hover-primary: var(--color-ref-scale-grey-65-shuttle_gray);
--color-global-surface-view-hover-secondary: var(--color-ref-scale-brand-190-lochmara);
--color-global-surface-view-hover-ghost: var(--color-ref-scale-grey-65-shuttle_gray);
--color-global-surface-view-hover-accent: var(--color-ref-scale-brand-125-lochmara);
--color-global-surface-view-hover-clear: var(--color-ref-scale-grey-none-shuttle_gray);
--color-global-surface-view-disabled-primary: var(--color-ref-scale-grey-190-shuttle_gray);
--color-global-surface-view-disabled-secondary: var(--color-ref-scale-grey-190-shuttle_gray);
--color-global-surface-view-disabled-ghost: var(--color-ref-scale-grey-190-shuttle_gray);
--color-global-surface-view-disabled-accent: var(--color-ref-scale-grey-190-shuttle_gray);
--color-global-surface-view-disabled-clear: var(--color-ref-scale-grey-none-shuttle_gray);
--color-global-surface-status-disabled-success: var(--color-ref-scale-grey-125-shuttle_gray);
--color-global-surface-status-disabled-normal: var(--color-ref-scale-grey-125-shuttle_gray);
--color-global-surface-status-disabled-neutral: var(--color-ref-scale-grey-125-shuttle_gray);
--color-global-surface-status-disabled-warning: var(--color-ref-scale-grey-125-shuttle_gray);
--color-global-surface-status-disabled-alert: var(--color-ref-scale-grey-125-shuttle_gray);
--color-global-surface-status-disabled-critical: var(--color-ref-scale-grey-125-shuttle_gray);
--color-global-surface-view-active-primary: var(--color-ref-scale-grey-125-shuttle_gray);
--color-global-surface-view-active-secondary: var(--color-ref-scale-brand-250-lochmara);
--color-global-surface-view-active-ghost: var(--color-ref-scale-grey-125-shuttle_gray);
--color-global-surface-view-active-accent: var(--color-ref-scale-brand-190-lochmara);
--color-global-surface-view-active-clear: var(--color-ref-scale-grey-none-shuttle_gray);
--color-global-surface-status-active-success: var(--color-ref-scale-green-190-jungle_green);
--color-global-surface-status-active-normal: var(--color-ref-scale-grey-190-shuttle_gray);
--color-global-surface-status-active-neutral: var(--color-ref-scale-grey-190-shuttle_gray);
--color-global-surface-status-active-warning: var(--color-ref-scale-orange-190-buttercup);
--color-global-surface-status-active-alert: var(--color-ref-scale-red-190-alizarin_crimson);
--color-global-surface-status-active-critical: var(--color-ref-scale-red-190-alizarin_crimson);
--color-global-border-view-focus: var(--color-ref-scale-brand-440-lochmara);
--color-global-surface-special-hover-stripe: var(--color-ref-scale-brand-125-lochmara);
--color-global-surface-special-hover-tone: var(--color-ref-scale-grey-190-shuttle_gray);
--color-global-surface-special-hover-soft: var(--color-ref-scale-grey-125-shuttle_gray);
--color-global-surface-special-hover-shadow: var(--color-ref-scale-grey-875-shuttle_gray);
--color-global-surface-special-active-stripe: var(--color-ref-scale-brand-190-lochmara);
--color-global-surface-special-active-tone: var(--color-ref-scale-grey-250-shuttle_gray);
--color-global-surface-special-active-soft: var(--color-ref-scale-grey-190-shuttle_gray);
--color-global-surface-special-active-shadow: var(--color-ref-scale-grey-815-shuttle_gray);
--color-global-surface-special-disabled-stripe: var(--color-ref-scale-grey-190-shuttle_gray);
--color-global-surface-special-disabled-tone: var(--color-ref-scale-grey-190-shuttle_gray);
--color-global-surface-special-disabled-soft: var(--color-ref-scale-grey-190-shuttle_gray);
--color-global-surface-special-disabled-shadow: var(--color-ref-scale-grey-690-shuttle_gray);
--color-global-border-view-hover-primary: var(--color-ref-scale-grey-190-shuttle_gray);
--color-global-border-view-hover-secondary: var(--color-ref-scale-grey-250-shuttle_gray);
--color-global-border-view-hover-ghost: var(--color-ref-scale-grey-190-shuttle_gray);
--color-global-border-view-hover-accent: var(--color-ref-scale-brand-565-lochmara);
--color-global-border-view-hover-clear: var(--color-ref-scale-grey-65-shuttle_gray);
--color-global-border-view-active-primary: var(--color-ref-scale-brand-500-lochmara);
--color-global-border-view-active-secondary: var(--color-ref-scale-brand-500-lochmara);
--color-global-border-view-active-ghost: var(--color-ref-scale-brand-500-lochmara);
--color-global-border-view-active-accent: var(--color-ref-scale-brand-625-lochmara);
--color-global-border-view-active-clear: var(--color-ref-scale-grey-125-shuttle_gray);
--color-global-border-view-disabled-primary: var(--color-ref-scale-grey-250-shuttle_gray);
--color-global-border-view-disabled-secondary: var(--color-ref-scale-grey-250-shuttle_gray);
--color-global-border-view-disabled-ghost: var(--color-ref-scale-grey-250-shuttle_gray);
--color-global-border-view-disabled-accent: var(--color-ref-scale-grey-250-shuttle_gray);
--color-global-border-view-disabled-clear: var(--color-ref-scale-grey-190-shuttle_gray);
--color-global-border-state-hover-primary: var(--color-ref-scale-brand-565-lochmara);
--color-global-border-state-hover-secondary: var(--color-ref-scale-grey-440-shuttle_gray);
--color-global-border-state-hover-ghost: var(--color-ref-scale-grey-315-shuttle_gray);
--color-global-border-state-hover-accent: var(--color-ref-scale-brand-565-lochmara);
--color-global-border-state-hover-clear: var(--color-ref-scale-grey-65-shuttle_gray);
--color-global-border-state-active-primary: var(--color-ref-scale-brand-625-lochmara);
--color-global-border-state-active-secondary: var(--color-ref-scale-grey-375-shuttle_gray);
--color-global-border-state-active-ghost: var(--color-ref-scale-grey-250-shuttle_gray);
--color-global-border-state-active-accent: var(--color-ref-scale-brand-625-lochmara);
--color-global-border-state-active-clear: var(--color-ref-scale-grey-125-shuttle_gray);
--color-global-border-state-disabled-primary: var(--color-ref-scale-grey-250-shuttle_gray);
--color-global-border-state-disabled-secondary: var(--color-ref-scale-grey-250-shuttle_gray);
--color-global-border-state-disabled-ghost: var(--color-ref-scale-grey-250-shuttle_gray);
--color-global-border-state-disabled-accent: var(--color-ref-scale-grey-250-shuttle_gray);
--color-global-border-state-disabled-clear: var(--color-ref-scale-grey-190-shuttle_gray);
--color-global-border-status-disabled-primary: var(--color-ref-scale-brand-315-lochmara);
--color-global-border-status-disabled-secondary: var(--color-ref-scale-grey-315-shuttle_gray);
--color-global-border-status-disabled-ghost: var(--color-ref-scale-grey-315-shuttle_gray);
--color-global-border-status-disabled-accent: var(--color-ref-scale-brand-315-lochmara);
--color-global-border-status-disabled-clear: var(--color-ref-scale-grey-315-shuttle_gray);
--color-global-border-status-active-primary: var(--color-ref-scale-brand-625-lochmara);
--color-global-border-status-active-secondary: var(--color-ref-scale-grey-625-shuttle_gray);
--color-global-border-status-active-ghost: var(--color-ref-scale-grey-625-shuttle_gray);
--color-global-border-status-active-accent: var(--color-ref-scale-brand-625-lochmara);
--color-global-border-status-active-clear: var(--color-ref-scale-grey-565-shuttle_gray);
--color-global-border-status-hover-primary: var(--color-ref-scale-brand-565-lochmara);
--color-global-border-status-hover-secondary: var(--color-ref-scale-grey-565-shuttle_gray);
--color-global-border-status-hover-ghost: var(--color-ref-scale-grey-565-shuttle_gray);
--color-global-border-status-hover-accent: var(--color-ref-scale-brand-565-lochmara);
--color-global-border-status-hover-clear: var(--color-ref-scale-grey-500-shuttle_gray);
--color-global-typo-view-primary: var(--color-ref-scale-brand-875-lochmara);
--color-global-typo-view-secondary: var(--color-ref-scale-grey-690-shuttle_gray);
--color-global-typo-view-ghost: var(--color-ref-scale-grey-500-shuttle_gray);
--color-global-typo-view-clear: var(--color-ref-scale-grey-500-shuttle_gray);
--color-global-typo-view-accent: var(--color-ref-scale-brand-500-lochmara);
--color-global-typo-view-focus: var(--color-ref-scale-brand-440-lochmara);
--color-global-typo-state-focus: var(--color-ref-scale-brand-440-lochmara);
--color-global-typo-state-hover: var(--color-ref-scale-brand-565-lochmara);
--color-global-typo-state-active: var(--color-ref-scale-brand-625-lochmara);
--color-global-typo-status-neutral: var(--color-ref-scale-grey-690-shuttle_gray);
--color-global-typo-status-caution: var(--color-ref-scale-orange-690-buttercup);
--color-global-typo-status-warning: var(--color-ref-scale-orange-690-buttercup);
--color-global-typo-status-alert: var(--color-ref-scale-red-690-alizarin_crimson);
--color-global-typo-status-critical: var(--color-ref-scale-red-690-alizarin_crimson);
--color-global-typo-status-normal: var(--color-ref-scale-grey-690-shuttle_gray);
--color-global-typo-status-success: var(--color-ref-scale-green-690-jungle_green);
--color-global-typo-state-disabled: var(--color-ref-scale-grey-250-shuttle_gray);
--color-global-typo-view-hover-primary: var(--color-ref-scale-brand-815-lochmara);
--color-global-typo-view-hover-secondary: var(--color-ref-scale-grey-625-shuttle_gray);
--color-global-typo-view-hover-ghost: var(--color-ref-scale-grey-440-shuttle_gray);
--color-global-typo-view-hover-accent: var(--color-ref-scale-brand-565-lochmara);
--color-global-typo-view-hover-clear: var(--color-ref-scale-grey-440-shuttle_gray);
--color-global-typo-view-active-primary: var(--color-ref-scale-brand-500-lochmara);
--color-global-typo-view-active-secondary: var(--color-ref-scale-brand-500-lochmara);
--color-global-typo-view-active-ghost: var(--color-ref-scale-brand-500-lochmara);
--color-global-typo-view-active-accent: var(--color-ref-scale-brand-625-lochmara);
--color-global-typo-view-active-clear: var(--color-ref-scale-grey-375-shuttle_gray);
--color-global-typo-view-disabled-primary: var(--color-ref-scale-grey-500-shuttle_gray);
--color-global-typo-view-disabled-secondary: var(--color-ref-scale-grey-500-shuttle_gray);
--color-global-typo-view-disabled-ghost: var(--color-ref-scale-grey-500-shuttle_gray);
--color-global-typo-view-disabled-accent: var(--color-ref-scale-grey-500-shuttle_gray);
--color-global-typo-state-hover-primary: var(--color-ref-scale-brand-565-lochmara);
--color-global-typo-view-disabled-clear: var(--color-ref-scale-grey-500-shuttle_gray);
--color-global-typo-state-hover-secondary: var(--color-ref-scale-grey-440-shuttle_gray);
--color-global-typo-state-hover-ghost: var(--color-ref-scale-grey-315-shuttle_gray);
--color-global-typo-state-hover-accent: var(--color-ref-scale-brand-565-lochmara);
--color-global-typo-state-hover-clear: var(--color-ref-scale-grey-65-shuttle_gray);
--color-global-typo-state-active-primary: var(--color-ref-scale-brand-625-lochmara);
--color-global-typo-state-active-secondary: var(--color-ref-scale-grey-375-shuttle_gray);
--color-global-typo-state-active-ghost: var(--color-ref-scale-grey-250-shuttle_gray);
--color-global-typo-state-active-accent: var(--color-ref-scale-brand-625-lochmara);
--color-global-typo-state-active-clear: var(--color-ref-scale-grey-125-shuttle_gray);
--color-global-typo-state-disabled-primary: var(--color-ref-scale-grey-250-shuttle_gray);
--color-global-typo-state-disabled-secondary: var(--color-ref-scale-grey-250-shuttle_gray);
--color-global-typo-state-disabled-ghost: var(--color-ref-scale-grey-250-shuttle_gray);
--color-global-typo-state-disabled-accent: var(--color-ref-scale-grey-250-shuttle_gray);
--color-global-typo-state-disabled-clear: var(--color-ref-scale-grey-190-shuttle_gray);
--color-global-typo-status-hover-primary: var(--color-ref-scale-brand-815-lochmara);
--color-global-typo-status-hover-secondary: var(--color-ref-scale-grey-815-shuttle_gray);
--color-global-typo-status-hover-ghost: var(--color-ref-scale-grey-815-shuttle_gray);
--color-global-typo-status-hover-accent: var(--color-ref-scale-brand-815-lochmara);
--color-global-typo-status-hover-clear: var(--color-ref-scale-grey-815-shuttle_gray);
--color-global-typo-status-active-primary: var(--color-ref-scale-brand-750-lochmara);
--color-global-typo-status-active-secondary: var(--color-ref-scale-grey-750-shuttle_gray);
--color-global-typo-status-active-ghost: var(--color-ref-scale-grey-750-shuttle_gray);
--color-global-typo-status-active-accent: var(--color-ref-scale-brand-750-lochmara);
--color-global-typo-status-active-clear: var(--color-ref-scale-grey-750-shuttle_gray);
--color-global-typo-status-disabled-primary: var(--color-ref-scale-brand-500-lochmara);
--color-global-typo-status-disabled-secondary: var(--color-ref-scale-grey-500-shuttle_gray);
--color-global-typo-status-disabled-ghost: var(--color-ref-scale-grey-500-shuttle_gray);
--color-global-typo-status-disabled-accent: var(--color-ref-scale-brand-500-lochmara);
--color-global-typo-status-disabled-clear: var(--color-ref-scale-grey-500-shuttle_gray);
--color-input-surface-view-default-primary: var(--color-ref-scale-grey-0-shuttle_gray);
--color-input-surface-view-default-clear: var(--color-ref-scale-grey-none-shuttle_gray);
--color-input-surface-view-hover-primary: var(--color-ref-scale-grey-65-shuttle_gray);
--color-input-surface-view-hover-clear: var(--color-ref-scale-grey-none-shuttle_gray);
--color-input-surface-view-active-primary: var(--color-ref-scale-grey-125-shuttle_gray);
--color-input-surface-view-active-clear: var(--color-ref-scale-grey-none-shuttle_gray);
--color-input-surface-view-disabled-primary: var(--color-ref-scale-grey-65-shuttle_gray);
--color-input-surface-view-disabled-clear: var(--color-ref-scale-grey-none-shuttle_gray);
--color-input-surface-status-default-success: var(--color-ref-scale-green-65-jungle_green);
--color-input-surface-status-default-neutral: var(--color-ref-scale-grey-65-shuttle_gray);
--color-input-surface-status-default-warning: var(--color-ref-scale-orange-65-buttercup);
--color-input-surface-status-default-alert: var(--color-ref-scale-red-65-alizarin_crimson);
--color-input-surface-status-hover-success: var(--color-ref-scale-green-125-jungle_green);
--color-input-surface-status-hover-neutral: var(--color-ref-scale-grey-125-shuttle_gray);
--color-input-surface-status-hover-warning: var(--color-ref-scale-orange-125-buttercup);
--color-input-surface-status-hover-alert: var(--color-ref-scale-red-125-alizarin_crimson);
--color-input-surface-status-active-success: var(--color-ref-scale-green-190-jungle_green);
--color-input-surface-status-active-neutral: var(--color-ref-scale-grey-190-shuttle_gray);
--color-input-surface-status-active-warning: var(--color-ref-scale-orange-190-buttercup);
--color-input-surface-status-active-alert: var(--color-ref-scale-red-190-alizarin_crimson);
--color-input-surface-status-disabled-success: var(--color-ref-scale-grey-125-shuttle_gray);
--color-input-surface-status-disabled-neutral: var(--color-ref-scale-grey-125-shuttle_gray);
--color-input-surface-status-disabled-warning: var(--color-ref-scale-grey-125-shuttle_gray);
--color-input-surface-status-disabled-alert: var(--color-ref-scale-grey-125-shuttle_gray);
--color-input-border-view-default-primary: var(--color-ref-scale-grey-125-shuttle_gray);
--color-input-border-status-default-neutral: var(--color-ref-scale-grey-500-shuttle_gray);
--color-input-border-status-default-warning: var(--color-ref-scale-orange-500-buttercup);
--color-input-border-status-default-alert: var(--color-ref-scale-red-500-alizarin_crimson);
--color-input-border-status-default-success: var(--color-ref-scale-green-500-jungle_green);
--color-input-border-view-hover-primary: var(--color-ref-scale-grey-190-shuttle_gray);
--color-input-border-view-hover-clear: var(--color-ref-scale-grey-65-shuttle_gray);
--color-input-border-view-active-primary: var(--color-ref-scale-brand-500-lochmara);
--color-input-border-view-active-clear: var(--color-ref-scale-grey-125-shuttle_gray);
--color-input-border-view-disabled-primary: var(--color-ref-scale-grey-none-shuttle_gray);
--color-input-border-view-disabled-clear: var(--color-ref-scale-grey-190-shuttle_gray);
--color-input-border-status-hover-success: var(--color-ref-scale-green-565-jungle_green);
--color-input-border-status-hover-neutral: var(--color-ref-scale-grey-565-shuttle_gray);
--color-input-border-status-hover-warning: var(--color-ref-scale-orange-565-buttercup);
--color-input-border-status-hover-alert: var(--color-ref-scale-red-565-alizarin_crimson);
--color-input-border-status-active-success: var(--color-ref-scale-green-625-jungle_green);
--color-input-border-status-active-neutral: var(--color-ref-scale-grey-625-shuttle_gray);
--color-input-border-status-active-warning: var(--color-ref-scale-orange-625-buttercup);
--color-input-border-status-active-alert: var(--color-ref-scale-red-625-alizarin_crimson);
--color-input-border-status-disabled-success: var(--color-ref-scale-grey-315-shuttle_gray);
--color-input-border-status-disabled-neutral: var(--color-ref-scale-grey-315-shuttle_gray);
--color-input-border-status-disabled-warning: var(--color-ref-scale-grey-315-shuttle_gray);
--color-input-border-status-disabled-alert: var(--color-ref-scale-grey-315-shuttle_gray);
--color-input-typo-view-default-primary: var(--color-ref-scale-brand-875-lochmara);
--color-input-typo-view-default-secondary: var(--color-ref-scale-grey-690-shuttle_gray);
--color-input-typo-view-default-ghost: var(--color-ref-scale-grey-500-shuttle_gray);
--color-input-typo-view-default-clear: var(--color-ref-scale-grey-500-shuttle_gray);
--color-input-typo-view-default-accent: var(--color-ref-scale-brand-500-lochmara);
--color-input-typo-view-default-focus: var(--color-ref-scale-brand-500-lochmara);
--color-input-typo-status-default-neutral: var(--color-ref-scale-grey-690-shuttle_gray);
--color-input-typo-status-default-warning: var(--color-ref-scale-orange-690-buttercup);
--color-input-typo-status-default-alert: var(--color-ref-scale-red-690-alizarin_crimson);
--color-input-typo-status-default-success: var(--color-ref-scale-green-690-jungle_green);
--color-input-typo-view-hover-primary: var(--color-ref-scale-brand-815-lochmara);
--color-input-typo-view-hover-ghost: var(--color-ref-scale-grey-440-shuttle_gray);
--color-input-typo-view-hover-clear: var(--color-ref-scale-grey-440-shuttle_gray);
--color-input-typo-view-active-primary: var(--color-ref-scale-brand-500-lochmara);
--color-input-typo-view-active-ghost: var(--color-ref-scale-brand-500-lochmara);
--color-input-typo-view-active-clear: var(--color-ref-scale-grey-375-shuttle_gray);
--color-input-typo-view-disabled-primary: var(--color-ref-scale-grey-440-shuttle_gray);
--color-input-typo-view-disabled-ghost: var(--color-ref-scale-grey-440-shuttle_gray);
--color-input-typo-view-disabled-clear: var(--color-ref-scale-grey-440-shuttle_gray);
--color-control-surface-view-primary: var(--color-ref-scale-brand-500-lochmara);
--color-control-surface-view-secondary: var(--color-ref-scale-grey-none-shuttle_gray);
--color-control-surface-view-ghost: var(--color-ref-scale-brand-65-lochmara);
--color-control-surface-view-accent: var(--color-ref-scale-brand-440-lochmara);
--color-control-surface-view-clear: var(--color-ref-scale-grey-none-shuttle_gray);
--color-control-surface-view-hover-primary: var(--color-ref-scale-brand-565-lochmara);
--color-control-surface-view-hover-secondary: var(--color-ref-scale-grey-none-shuttle_gray);
--color-control-surface-view-hover-ghost: var(--color-ref-scale-brand-125-lochmara);
--color-control-surface-view-hover-accent: var(--color-ref-scale-brand-500-lochmara);
--color-control-surface-view-hover-clear: var(--color-ref-scale-grey-65-shuttle_gray);
--color-control-surface-view-active-primary: var(--color-ref-scale-brand-625-lochmara);
--color-control-surface-view-active-secondary: var(--color-ref-scale-grey-65-shuttle_gray);
--color-control-surface-view-active-ghost: var(--color-ref-scale-brand-190-lochmara);
--color-control-surface-view-active-accent: var(--color-ref-scale-brand-565-lochmara);
--color-control-surface-view-active-clear: var(--color-ref-scale-grey-125-shuttle_gray);
--color-control-surface-view-disabled-primary: var(--color-ref-scale-grey-190-shuttle_gray);
--color-control-surface-view-disabled-secondary: var(--color-ref-scale-grey-none-shuttle_gray);
--color-control-surface-view-disabled-ghost: var(--color-ref-scale-grey-190-shuttle_gray);
--color-control-surface-view-disabled-accent: var(--color-ref-scale-grey-190-shuttle_gray);
--color-control-surface-view-disabled-clear: var(--color-ref-scale-grey-none-shuttle_gray);
--color-control-surface-status-success: var(--color-ref-scale-green-65-jungle_green);
--color-control-surface-status-normal: var(--color-ref-scale-grey-65-shuttle_gray);
--color-control-surface-status-neutral: var(--color-ref-scale-grey-65-shuttle_gray);
--color-control-surface-status-warning: var(--color-ref-scale-orange-65-buttercup);
--color-control-surface-status-alert: var(--color-ref-scale-red-65-alizarin_crimson);
--color-control-surface-status-critical: var(--color-ref-scale-red-65-alizarin_crimson);
--color-control-surface-status-hover-success: var(--color-ref-scale-green-125-jungle_green);
--color-control-surface-status-hover-normal: var(--color-ref-scale-grey-125-shuttle_gray);
--color-control-surface-status-hover-neutral: var(--color-ref-scale-grey-125-shuttle_gray);
--color-control-surface-status-hover-warning: var(--color-ref-scale-orange-125-buttercup);
--color-control-surface-status-hover-alert: var(--color-ref-scale-red-125-alizarin_crimson);
--color-control-surface-status-active-success: var(--color-ref-scale-green-190-jungle_green);
--color-control-surface-status-active-normal: var(--color-ref-scale-grey-190-shuttle_gray);
--color-control-surface-status-active-neutral: var(--color-ref-scale-grey-190-shuttle_gray);
--color-control-surface-status-hover-critical: var(--color-ref-scale-red-125-alizarin_crimson);
--color-control-surface-status-active-warning: var(--color-ref-scale-orange-190-buttercup);
--color-control-surface-status-active-alert: var(--color-ref-scale-red-190-alizarin_crimson);
--color-control-surface-status-active-critical: var(--color-ref-scale-red-190-alizarin_crimson);
--color-control-surface-status-disabled-success: var(--color-ref-scale-grey-125-shuttle_gray);
--color-control-surface-status-disabled-normal: var(--color-ref-scale-grey-125-shuttle_gray);
--color-control-surface-status-disabled-neutral: var(--color-ref-scale-grey-125-shuttle_gray);
--color-control-surface-status-disabled-warning: var(--color-ref-scale-grey-125-shuttle_gray);
--color-control-surface-status-disabled-alert: var(--color-ref-scale-grey-125-shuttle_gray);
--color-control-surface-status-disabled-critical: var(--color-ref-scale-grey-125-shuttle_gray);
--color-control-border-view-primary: var(--color-ref-scale-brand-500-lochmara);
--color-control-border-view-secondary: var(--color-ref-scale-brand-500-lochmara);
--color-control-border-view-ghost: var(--color-ref-scale-brand-500-lochmara);
--color-control-border-view-clear: var(--color-ref-scale-grey-0-shuttle_gray);
--color-control-border-view-accent: var(--color-ref-scale-brand-500-lochmara);
--color-control-border-view-focus: var(--color-ref-scale-brand-440-lochmara);
--color-control-surface-special-stripe: var(--color-ref-scale-brand-190-lochmara);
--color-control-border-status-neutral: var(--color-ref-scale-grey-500-shuttle_gray);
--color-control-surface-special-tone: var(--color-ref-scale-brand-125-lochmara);
--color-control-surface-special-soft: var(--color-ref-scale-brand-65-lochmara);
--color-control-surface-special-shadow: var(--color-ref-scale-grey-940-shuttle_gray);
--color-control-surface-special-hover-stripe: var(--color-ref-scale-brand-250-lochmara);
--color-control-surface-special-hover-tone: var(--color-ref-scale-brand-190-lochmara);
--color-control-surface-special-hover-soft: var(--color-ref-scale-brand-125-lochmara);
--color-control-surface-special-hover-shadow: var(--color-ref-scale-grey-875-shuttle_gray);
--color-control-surface-special-active-stripe: var(--color-ref-scale-brand-315-lochmara);
--color-control-surface-special-active-tone: var(--color-ref-scale-brand-250-lochmara);
--color-control-surface-special-active-soft: var(--color-ref-scale-brand-190-lochmara);
--color-control-surface-special-active-shadow: var(--color-ref-scale-grey-815-shuttle_gray);
--color-control-border-status-caution: var(--color-ref-scale-orange-500-buttercup);
--color-control-border-status-warning: var(--color-ref-scale-orange-500-buttercup);
--color-control-border-status-alert: var(--color-ref-scale-red-500-alizarin_crimson);
--color-control-border-status-critical: var(--color-ref-scale-red-565-alizarin_crimson);
--color-control-border-status-normal: var(--color-ref-scale-grey-440-shuttle_gray);
--color-control-border-status-success: var(--color-ref-scale-green-500-jungle_green);
--color-control-surface-special-disabled-stripe: var(--color-ref-scale-grey-190-shuttle_gray);
--color-control-surface-special-disabled-tone: var(--color-ref-scale-grey-190-shuttle_gray);
--color-control-surface-special-disabled-soft: var(--color-ref-scale-grey-190-shuttle_gray);
--color-control-surface-special-disabled-shadow: var(--color-ref-scale-grey-690-shuttle_gray);
--color-control-border-view-hover-primary: var(--color-ref-scale-brand-565-lochmara);
--color-control-border-view-hover-secondary: var(--color-ref-scale-brand-565-lochmara);
--color-control-border-view-hover-ghost: var(--color-ref-scale-brand-565-lochmara);
--color-control-border-view-hover-accent: var(--color-ref-scale-brand-565-lochmara);
--color-control-border-view-hover-clear: var(--color-ref-scale-grey-65-shuttle_gray);
--color-control-border-view-active-primary: var(--color-ref-scale-brand-625-lochmara);
--color-control-border-view-active-secondary: var(--color-ref-scale-brand-625-lochmara);
--color-control-border-view-active-ghost: var(--color-ref-scale-brand-625-lochmara);
--color-control-border-view-active-accent: var(--color-ref-scale-brand-625-lochmara);
--color-control-border-view-active-clear: var(--color-ref-scale-grey-125-shuttle_gray);
--color-control-border-view-disabled-primary: var(--color-ref-scale-grey-250-shuttle_gray);
--color-control-border-view-disabled-secondary: var(--color-ref-scale-grey-440-shuttle_gray);
--color-control-border-view-disabled-ghost: var(--color-ref-scale-grey-250-shuttle_gray);
--color-control-border-view-disabled-accent: var(--color-ref-scale-grey-250-shuttle_gray);
--color-control-border-view-disabled-clear: var(--color-ref-scale-grey-190-shuttle_gray);
--color-control-border-status-hover-primary: var(--color-ref-scale-brand-565-lochmara);
--color-control-border-status-hover-secondary: var(--color-ref-scale-grey-565-shuttle_gray);
--color-control-border-status-hover-ghost: var(--color-ref-scale-grey-565-shuttle_gray);
--color-control-border-status-hover-accent: var(--color-ref-scale-brand-565-lochmara);
--color-control-border-status-hover-clear: var(--color-ref-scale-grey-500-shuttle_gray);
--color-control-border-status-active-primary: var(--color-ref-scale-brand-625-lochmara);
--color-control-border-status-active-secondary: var(--color-ref-scale-grey-625-shuttle_gray);
--color-control-border-status-active-ghost: var(--color-ref-scale-grey-625-shuttle_gray);
--color-control-border-status-active-accent: var(--color-ref-scale-brand-625-lochmara);
--color-control-border-status-active-clear: var(--color-ref-scale-grey-565-shuttle_gray);
--color-control-border-status-disabled-primary: var(--color-ref-scale-brand-315-lochmara);
--color-control-border-status-disabled-secondary: var(--color-ref-scale-grey-315-shuttle_gray);
--color-control-border-status-disabled-ghost: var(--color-ref-scale-grey-315-shuttle_gray);
--color-control-border-status-disabled-accent: var(--color-ref-scale-brand-315-lochmara);
--color-control-border-status-disabled-clear: var(--color-ref-scale-grey-315-shuttle_gray);
--color-control-typo-view-primary: var(--color-ref-scale-grey-0-shuttle_gray);
--color-control-typo-view-secondary: var(--color-ref-scale-blue-500-royal_blue);
--color-control-typo-view-ghost: var(--color-ref-scale-grey-625-shuttle_gray);
--color-control-typo-view-clear: var(--color-ref-scale-grey-625-shuttle_gray);
--color-control-typo-view-accent: var(--color-ref-scale-grey-0-shuttle_gray);
--color-control-typo-view-focus: var(--color-ref-scale-brand-440-lochmara);
--color-control-typo-state-focus: var(--color-ref-scale-brand-440-lochmara);
--color-control-typo-state-hover: var(--color-ref-scale-brand-565-lochmara);
--color-control-typo-state-active: var(--color-ref-scale-brand-625-lochmara);
--color-control-typo-status-neutral: var(--color-ref-scale-grey-690-shuttle_gray);
--color-control-typo-status-caution: var(--color-ref-scale-orange-690-buttercup);
--color-control-typo-status-warning: var(--color-ref-scale-orange-690-buttercup);
--color-control-typo-status-alert: var(--color-ref-scale-red-690-alizarin_crimson);
--color-control-typo-status-critical: var(--color-ref-scale-red-690-alizarin_crimson);
--color-control-typo-status-normal: var(--color-ref-scale-grey-690-shuttle_gray);
--color-control-typo-status-success: var(--color-ref-scale-green-690-jungle_green);
--color-control-typo-state-disabled: var(--color-ref-scale-grey-250-shuttle_gray);
--color-control-typo-view-hover-primary: var(--color-ref-scale-grey-0-shuttle_gray);
--color-control-typo-view-hover-secondary: var(--color-ref-scale-blue-565-royal_blue);
--color-control-typo-view-hover-ghost: var(--color-ref-scale-grey-565-shuttle_gray);
--color-control-typo-view-hover-accent: var(--color-ref-scale-grey-0-shuttle_gray);
--color-control-typo-view-hover-clear: var(--color-ref-scale-grey-565-shuttle_gray);
--color-control-typo-view-active-primary: var(--color-ref-scale-grey-0-shuttle_gray);
--color-control-typo-view-active-secondary: var(--color-ref-scale-blue-625-royal_blue);
--color-control-typo-view-active-ghost: var(--color-ref-scale-grey-500-shuttle_gray);
--color-control-typo-view-active-accent: var(--color-ref-scale-grey-0-shuttle_gray);
--color-control-typo-view-active-clear: var(--color-ref-scale-grey-500-shuttle_gray);
--color-control-typo-view-disabled-primary: var(--color-ref-scale-grey-440-shuttle_gray);
--color-control-typo-view-disabled-secondary: var(--color-ref-scale-grey-440-shuttle_gray);
--color-control-typo-view-disabled-ghost: var(--color-ref-scale-grey-440-shuttle_gray);
--color-control-typo-view-disabled-accent: var(--color-ref-scale-grey-440-shuttle_gray);
--color-control-typo-state-hover-primary: var(--color-ref-scale-brand-565-lochmara);
--color-control-typo-view-disabled-clear: var(--color-ref-scale-grey-440-shuttle_gray);
--color-control-typo-state-hover-secondary: var(--color-ref-scale-grey-440-shuttle_gray);
--color-control-typo-state-hover-ghost: var(--color-ref-scale-grey-315-shuttle_gray);
--color-control-typo-state-hover-accent: var(--color-ref-scale-brand-565-lochmara);
--color-control-typo-state-hover-clear: var(--color-ref-scale-grey-65-shuttle_gray);
--color-control-typo-state-active-primary: var(--color-ref-scale-brand-625-lochmara);
--color-control-typo-state-active-secondary: var(--color-ref-scale-grey-375-shuttle_gray);
--color-control-typo-state-active-ghost: var(--color-ref-scale-grey-250-shuttle_gray);
--color-control-typo-state-active-accent: var(--color-ref-scale-brand-625-lochmara);
--color-control-typo-state-active-clear: var(--color-ref-scale-grey-125-shuttle_gray);
--color-control-typo-state-disabled-primary: var(--color-ref-scale-grey-250-shuttle_gray);
--color-control-typo-state-disabled-secondary: var(--color-ref-scale-grey-250-shuttle_gray);
--color-control-typo-state-disabled-ghost: var(--color-ref-scale-grey-250-shuttle_gray);
--color-control-typo-state-disabled-accent: var(--color-ref-scale-grey-250-shuttle_gray);
--color-control-typo-state-disabled-clear: var(--color-ref-scale-grey-190-shuttle_gray);
--color-control-typo-status-hover-primary: var(--color-ref-scale-brand-815-lochmara);
--color-control-typo-status-hover-secondary: var(--color-ref-scale-grey-815-shuttle_gray);
--color-control-typo-status-hover-ghost: var(--color-ref-scale-grey-815-shuttle_gray);
--color-control-typo-status-hover-accent: var(--color-ref-scale-brand-815-lochmara);
--color-control-typo-status-hover-clear: var(--color-ref-scale-grey-815-shuttle_gray);
--color-control-typo-status-active-primary: var(--color-ref-scale-brand-750-lochmara);
--color-control-typo-status-active-secondary: var(--color-ref-scale-grey-750-shuttle_gray);
--color-control-typo-status-active-ghost: var(--color-ref-scale-grey-750-shuttle_gray);
--color-control-typo-status-active-accent: var(--color-ref-scale-brand-750-lochmara);
--color-control-typo-status-active-clear: var(--color-ref-scale-grey-750-shuttle_gray);
--color-control-typo-status-disabled-primary: var(--color-ref-scale-brand-500-lochmara);
--color-control-typo-status-disabled-secondary: var(--color-ref-scale-grey-500-shuttle_gray);
--color-control-typo-status-disabled-ghost: var(--color-ref-scale-grey-500-shuttle_gray);
--color-control-typo-status-disabled-accent: var(--color-ref-scale-brand-500-lochmara);
--color-control-typo-status-disabled-clear: var(--color-ref-scale-grey-500-shuttle_gray);
--color-input-typo-status-hover-warning: var(--color-ref-scale-orange-625-buttercup);
--color-input-typo-status-hover-neutral: var(--color-ref-scale-grey-625-shuttle_gray);
--color-input-typo-status-hover-alert: var(--color-ref-scale-red-625-alizarin_crimson);
--color-input-typo-status-hover-success: var(--color-ref-scale-green-625-jungle_green);
--color-input-typo-status-active-warning: var(--color-ref-scale-orange-565-buttercup);
--color-input-typo-status-active-neutral: var(--color-ref-scale-grey-565-shuttle_gray);
--color-input-typo-status-active-alert: var(--color-ref-scale-red-565-alizarin_crimson);
--color-input-typo-status-active-success: var(--color-ref-scale-green-565-jungle_green);
--color-input-typo-status-disabled-warning: var(--color-ref-scale-grey-440-shuttle_gray);
--color-input-typo-status-disabled-neutral: var(--color-ref-scale-grey-440-shuttle_gray);
--color-input-typo-status-disabled-alert: var(--color-ref-scale-grey-440-shuttle_gray);
--color-input-typo-status-disabled-success: var(--color-ref-scale-grey-440-shuttle_gray);
--color-input-border-view-default-clear: var(--color-ref-scale-grey-0-shuttle_gray);
--color-input-typo-special-default-placeholder: var(--color-ref-scale-grey-500-shuttle_gray);
--color-input-typo-special-hover-placeholder: var(--color-ref-scale-grey-440-shuttle_gray);
--color-input-typo-special-active-placeholder: var(--color-ref-scale-grey-440-shuttle_gray);
--color-input-typo-special-disabled-placeholder: var(--color-ref-scale-grey-500-shuttle_gray);
--color-global-border-state-default: var(--color-ref-scale-brand-440-lochmara);
--color-global-surface-status-default-success: var(--color-ref-scale-green-65-jungle_green);
--color-global-surface-status-default-normal: var(--color-ref-scale-grey-65-shuttle_gray);
--color-global-surface-status-default-neutral: var(--color-ref-scale-grey-65-shuttle_gray);
--color-global-surface-status-default-warning: var(--color-ref-scale-orange-65-buttercup);
--color-global-surface-status-default-alert: var(--color-ref-scale-red-65-alizarin_crimson);
--color-global-surface-status-default-critical: var(--color-ref-scale-red-65-alizarin_crimson);
--color-global-surface-view-default-primary: var(--color-ref-scale-grey-0-shuttle_gray);
--color-global-surface-view-default-secondary: var(--color-ref-scale-brand-125-lochmara);
--color-global-surface-view-default-ghost: var(--color-ref-scale-grey-0-shuttle_gray);
--color-global-surface-view-default-accent: var(--color-ref-scale-brand-65-lochmara);
--color-global-surface-view-default-clear: var(--color-ref-scale-grey-none-shuttle_gray);
--color-global-surface-special-default-stripe: var(--color-ref-scale-brand-65-lochmara);
--color-global-surface-special-default-tone: var(--color-ref-scale-grey-125-shuttle_gray);
--color-global-surface-special-default-soft: var(--color-ref-scale-grey-65-shuttle_gray);
--color-global-surface-special-default-shadow: var(--color-ref-scale-grey-940-shuttle_gray);
--color-global-border-view-default-primary: var(--color-ref-scale-grey-125-shuttle_gray);
--color-global-border-view-default-secondary: var(--color-ref-scale-grey-190-shuttle_gray);
--color-global-border-view-default-ghost: var(--color-ref-scale-grey-125-shuttle_gray);
--color-global-border-view-default-accent: var(--color-ref-scale-brand-500-lochmara);
--color-global-border-view-default-clear: var(--color-ref-scale-grey-0-shuttle_gray);
--color-global-border-state-default-primary: var(--color-ref-scale-brand-500-lochmara);
--color-global-border-state-default-secondary: var(--color-ref-scale-grey-500-shuttle_gray);
--color-global-border-state-default-ghost: var(--color-ref-scale-grey-375-shuttle_gray);
--color-global-border-state-default-accent: var(--color-ref-scale-brand-500-lochmara);
--color-global-border-state-default-clear: var(--color-ref-scale-grey-0-shuttle_gray);
--color-global-border-status-default-primary: var(--color-ref-scale-brand-500-lochmara);
--color-global-border-status-default-secondary: var(--color-ref-scale-grey-500-shuttle_gray);
--color-global-border-status-default-ghost: var(--color-ref-scale-grey-500-shuttle_gray);
--color-global-border-status-default-accent: var(--color-ref-scale-brand-500-lochmara);
--color-global-border-status-default-clear: var(--color-ref-scale-grey-440-shuttle_gray);
--color-global-typo-state-default: var(--color-ref-scale-brand-440-lochmara);
--color-global-typo-view-default-primary: var(--color-ref-scale-brand-875-lochmara);
--color-global-typo-view-default-secondary: var(--color-ref-scale-grey-690-shuttle_gray);
--color-global-typo-view-default-ghost: var(--color-ref-scale-grey-500-shuttle_gray);
--color-global-typo-view-default-accent: var(--color-ref-scale-brand-500-lochmara);
--color-global-typo-view-default-clear: var(--color-ref-scale-grey-500-shuttle_gray);
--color-global-typo-state-default-primary: var(--color-ref-scale-brand-500-lochmara);
--color-global-typo-state-default-secondary: var(--color-ref-scale-grey-500-shuttle_gray);
--color-global-typo-state-default-ghost: var(--color-ref-scale-grey-375-shuttle_gray);
--color-global-typo-state-default-accent: var(--color-ref-scale-brand-500-lochmara);
--color-global-typo-state-default-clear: var(--color-ref-scale-grey-0-shuttle_gray);
--color-global-typo-status-default-primary: var(--color-ref-scale-brand-875-lochmara);
--color-global-typo-status-default-secondary: var(--color-ref-scale-grey-875-shuttle_gray);
--color-global-typo-status-default-ghost: var(--color-ref-scale-grey-875-shuttle_gray);
--color-global-typo-status-default-accent: var(--color-ref-scale-brand-875-lochmara);
--color-global-typo-status-default-clear: var(--color-ref-scale-grey-875-shuttle_gray);
--color-control-surface-view-default-primary: var(--color-ref-scale-brand-500-lochmara);
--color-control-surface-view-default-secondary: var(--color-ref-scale-grey-none-shuttle_gray);
--color-control-surface-view-default-ghost: var(--color-ref-scale-brand-65-lochmara);
--color-control-surface-view-default-accent: var(--color-ref-scale-brand-440-lochmara);
--color-control-surface-view-default-clear: var(--color-ref-scale-grey-none-shuttle_gray);
--color-control-surface-status-default-success: var(--color-ref-scale-green-65-jungle_green);
--color-control-surface-status-default-normal: var(--color-ref-scale-grey-65-shuttle_gray);
--color-control-surface-status-default-neutral: var(--color-ref-scale-grey-65-shuttle_gray);
--color-control-surface-status-default-warning: var(--color-ref-scale-orange-65-buttercup);
--color-control-surface-status-default-alert: var(--color-ref-scale-red-65-alizarin_crimson);
--color-control-surface-status-default-critical: var(--color-ref-scale-red-65-alizarin_crimson);
--color-control-surface-special-default-stripe: var(--color-ref-scale-brand-190-lochmara);
--color-control-surface-special-default-tone: var(--color-ref-scale-brand-125-lochmara);
--color-control-surface-special-default-soft: var(--color-ref-scale-brand-65-lochmara);
--color-control-surface-special-default-shadow: var(--color-ref-scale-grey-940-shuttle_gray);
--color-control-border-view-default-primary: var(--color-ref-scale-brand-500-lochmara);
--color-control-border-view-default-secondary: var(--color-ref-scale-brand-500-lochmara);
--color-control-border-view-default-ghost: var(--color-ref-scale-brand-500-lochmara);
--color-control-border-view-default-accent: var(--color-ref-scale-brand-500-lochmara);
--color-control-border-view-default-clear: var(--color-ref-scale-grey-0-shuttle_gray);
--color-control-border-status-default-primary: var(--color-ref-scale-brand-500-lochmara);
--color-control-border-status-default-secondary: var(--color-ref-scale-grey-500-shuttle_gray);
--color-control-border-status-default-ghost: var(--color-ref-scale-grey-500-shuttle_gray);
--color-control-border-status-default-accent: var(--color-ref-scale-brand-500-lochmara);
--color-control-border-status-default-clear: var(--color-ref-scale-grey-440-shuttle_gray);
--color-control-typo-state-default: var(--color-ref-scale-brand-440-lochmara);
--color-control-typo-view-default-primary: var(--color-ref-scale-grey-0-shuttle_gray);
--color-control-typo-view-default-secondary: var(--color-ref-scale-blue-500-royal_blue);
--color-control-typo-view-default-ghost: var(--color-ref-scale-grey-625-shuttle_gray);
--color-control-typo-view-default-accent: var(--color-ref-scale-grey-0-shuttle_gray);
--color-control-typo-view-default-clear: var(--color-ref-scale-grey-625-shuttle_gray);
--color-control-typo-state-default-primary: var(--color-ref-scale-brand-500-lochmara);
--color-control-typo-state-default-secondary: var(--color-ref-scale-grey-500-shuttle_gray);
--color-control-typo-state-default-ghost: var(--color-ref-scale-grey-375-shuttle_gray);
--color-control-typo-state-default-accent: var(--color-ref-scale-brand-500-lochmara);
--color-control-typo-state-default-clear: var(--color-ref-scale-grey-0-shuttle_gray);
--color-control-typo-status-default-primary: var(--color-ref-scale-brand-875-lochmara);
--color-control-typo-status-default-secondary: var(--color-ref-scale-grey-875-shuttle_gray);
--color-control-typo-status-default-ghost: var(--color-ref-scale-grey-875-shuttle_gray);
--color-control-typo-status-default-accent: var(--color-ref-scale-brand-875-lochmara);
--color-control-typo-status-default-clear: var(--color-ref-scale-grey-875-shuttle_gray);
--color-global-border-status-default-success: var(--color-ref-scale-green-500-jungle_green);
--color-global-border-status-default-warning: var(--color-ref-scale-orange-500-buttercup);
--color-global-border-status-default-alert: var(--color-ref-scale-red-500-alizarin_crimson);
--color-global-border-status-default-critical: var(--color-ref-scale-red-565-alizarin_crimson);
--color-global-border-status-default-caution: var(--color-ref-scale-orange-500-buttercup);
--color-global-border-status-default-neutral: var(--color-ref-scale-grey-500-shuttle_gray);
--color-global-border-status-default-normal: var(--color-ref-scale-grey-440-shuttle_gray);
--color-global-typo-status-default-success: var(--color-ref-scale-green-690-jungle_green);
--color-global-typo-status-default-warning: var(--color-ref-scale-orange-690-buttercup);
--color-global-typo-status-default-alert: var(--color-ref-scale-red-690-alizarin_crimson);
--color-global-typo-status-default-critical: var(--color-ref-scale-red-690-alizarin_crimson);
--color-global-typo-status-default-caution: var(--color-ref-scale-orange-690-buttercup);
--color-global-typo-status-default-neutral: var(--color-ref-scale-grey-690-shuttle_gray);
--color-global-typo-status-default-normal: var(--color-ref-scale-grey-690-shuttle_gray);
--color-control-border-status-default-success: var(--color-ref-scale-green-500-jungle_green);
--color-control-border-status-default-warning: var(--color-ref-scale-orange-500-buttercup);
--color-control-border-status-default-alert: var(--color-ref-scale-red-500-alizarin_crimson);
--color-control-border-status-default-critical: var(--color-ref-scale-red-565-alizarin_crimson);
--color-control-border-status-default-caution: var(--color-ref-scale-orange-500-buttercup);
--color-control-border-status-default-neutral: var(--color-ref-scale-grey-500-shuttle_gray);
--color-control-border-status-default-normal: var(--color-ref-scale-grey-440-shuttle_gray);
--color-control-typo-status-default-success: var(--color-ref-scale-green-690-jungle_green);
--color-control-typo-status-default-warning: var(--color-ref-scale-orange-690-buttercup);
--color-control-typo-status-default-alert: var(--color-ref-scale-red-690-alizarin_crimson);
--color-control-typo-status-default-critical: var(--color-ref-scale-red-690-alizarin_crimson);
--color-control-typo-status-default-caution: var(--color-ref-scale-orange-690-buttercup);
--color-control-typo-status-default-neutral: var(--color-ref-scale-grey-690-shuttle_gray);
--color-control-typo-status-default-normal: var(--color-ref-scale-grey-690-shuttle_gray);
--color-ref-scale-grey-65-shuttle_gray: var(--color-base-scale-grey-65-shuttle_gray);
--color-ref-scale-grey-815-shuttle_gray: var(--color-base-scale-grey-815-shuttle_gray);
--color-ref-scale-grey-125-shuttle_gray: var(--color-base-scale-grey-125-shuttle_gray);
--color-ref-scale-grey-750-shuttle_gray: var(--color-base-scale-grey-750-shuttle_gray);
--color-ref-scale-grey-940-shuttle_gray: var(--color-base-scale-grey-940-shuttle_gray);
--color-ref-scale-brand-65-lochmara: var(--color-base-scale-brand-65-lochmara);
--color-ref-scale-brand-750-lochmara: var(--color-base-scale-brand-750-lochmara);
--color-ref-scale-brand-815-lochmara: var(--color-base-scale-brand-815-lochmara);
--color-ref-scale-grey-1000-shuttle_gray: var(--color-base-scale-grey-1000-shuttle_gray);
--color-ref-scale-orange-65-buttercup: var(--color-base-scale-orange-65-buttercup);
--color-ref-scale-orange-940-buttercup: var(--color-base-scale-orange-940-buttercup);
--color-ref-scale-red-65-alizarin_crimson: var(--color-base-scale-red-65-alizarin_crimson);
--color-ref-scale-red-940-alizarin_crimson: var(--color-base-scale-red-940-alizarin_crimson);
--color-ref-scale-green-65-jungle_green: var(--color-base-scale-green-65-jungle_green);
--color-ref-scale-green-940-jungle_green: var(--color-base-scale-green-940-jungle_green);
--color-ref-scale-grey-0-shuttle_gray: var(--color-base-scale-grey-0-shuttle_gray);
--color-ref-scale-brand-125-lochmara: var(--color-base-scale-brand-125-lochmara);
--color-ref-scale-grey-875-shuttle_gray: var(--color-base-scale-grey-875-shuttle_gray);
--color-ref-scale-grey-690-shuttle_gray: var(--color-base-scale-grey-690-shuttle_gray);
--color-ref-scale-grey-190-shuttle_gray: var(--color-base-scale-grey-190-shuttle_gray);
--color-ref-scale-grey-none-shuttle_gray: var(--color-base-scale-grey-none-shuttle_gray);
--color-ref-scale-brand-500-lochmara: var(--color-base-scale-brand-500-lochmara);
--color-ref-scale-brand-440-lochmara: var(--color-base-scale-brand-440-lochmara);
--color-ref-scale-orange-500-buttercup: var(--color-base-scale-orange-500-buttercup);
--color-ref-scale-orange-440-buttercup: var(--color-base-scale-orange-440-buttercup);
--color-ref-scale-red-500-alizarin_crimson: var(--color-base-scale-red-500-alizarin_crimson);
--color-ref-scale-red-440-alizarin_crimson: var(--color-base-scale-red-440-alizarin_crimson);
--color-ref-scale-red-565-alizarin_crimson: var(--color-base-scale-red-565-alizarin_crimson);
--color-ref-scale-grey-500-shuttle_gray: var(--color-base-scale-grey-500-shuttle_gray);
--color-ref-scale-grey-440-shuttle_gray: var(--color-base-scale-grey-440-shuttle_gray);
--color-ref-scale-grey-375-shuttle_gray: var(--color-base-scale-grey-375-shuttle_gray);
--color-ref-scale-green-500-jungle_green: var(--color-base-scale-green-500-jungle_green);
--color-ref-scale-green-440-jungle_green: var(--color-base-scale-green-440-jungle_green);
--color-ref-scale-grey-250-shuttle_gray: var(--color-base-scale-grey-250-shuttle_gray);
--color-ref-scale-grey-565-shuttle_gray: var(--color-base-scale-grey-565-shuttle_gray);
--color-ref-scale-brand-375-lochmara: var(--color-base-scale-brand-375-lochmara);
--color-ref-scale-brand-565-lochmara: var(--color-base-scale-brand-565-lochmara);
--color-ref-scale-brand-625-lochmara: var(--color-base-scale-brand-625-lochmara);
--color-ref-scale-green-125-jungle_green: var(--color-base-scale-green-125-jungle_green);
--color-ref-scale-green-875-jungle_green: var(--color-base-scale-green-875-jungle_green);
--color-ref-scale-orange-125-buttercup: var(--color-base-scale-orange-125-buttercup);
--color-ref-scale-orange-875-buttercup: var(--color-base-scale-orange-875-buttercup);
--color-ref-scale-red-125-alizarin_crimson: var(--color-base-scale-red-125-alizarin_crimson);
--color-ref-scale-red-875-alizarin_crimson: var(--color-base-scale-red-875-alizarin_crimson);
--color-ref-scale-brand-190-lochmara: var(--color-base-scale-brand-190-lochmara);
--color-ref-scale-brand-250-lochmara: var(--color-base-scale-brand-250-lochmara);
--color-ref-scale-grey-625-shuttle_gray: var(--color-base-scale-grey-625-shuttle_gray);
--color-ref-scale-brand-690-lochmara: var(--color-base-scale-brand-690-lochmara);
--color-ref-scale-green-190-jungle_green: var(--color-base-scale-green-190-jungle_green);
--color-ref-scale-green-815-jungle_green: var(--color-base-scale-green-815-jungle_green);
--color-ref-scale-orange-190-buttercup: var(--color-base-scale-orange-190-buttercup);
--color-ref-scale-orange-815-buttercup: var(--color-base-scale-orange-815-buttercup);
--color-ref-scale-red-190-alizarin_crimson: var(--color-base-scale-red-190-alizarin_crimson);
--color-ref-scale-red-815-alizarin_crimson: var(--color-base-scale-red-815-alizarin_crimson);
--color-ref-scale-grey-315-shuttle_gray: var(--color-base-scale-grey-315-shuttle_gray);
--color-ref-scale-brand-315-lochmara: var(--color-base-scale-brand-315-lochmara);
--color-ref-scale-brand-875-lochmara: var(--color-base-scale-brand-875-lochmara);
--color-ref-scale-orange-690-buttercup: var(--color-base-scale-orange-690-buttercup);
--color-ref-scale-orange-315-buttercup: var(--color-base-scale-orange-315-buttercup);
--color-ref-scale-red-690-alizarin_crimson: var(--color-base-scale-red-690-alizarin_crimson);
--color-ref-scale-red-315-alizarin_crimson: var(--color-base-scale-red-315-alizarin_crimson);
--color-ref-scale-green-690-jungle_green: var(--color-base-scale-green-690-jungle_green);
--color-ref-scale-green-315-jungle_green: var(--color-base-scale-green-315-jungle_green);
--color-ref-scale-green-565-jungle_green: var(--color-base-scale-green-565-jungle_green);
--color-ref-scale-orange-565-buttercup: var(--color-base-scale-orange-565-buttercup);
--color-ref-scale-green-625-jungle_green: var(--color-base-scale-green-625-jungle_green);
--color-ref-scale-orange-625-buttercup: var(--color-base-scale-orange-625-buttercup);
--color-ref-scale-red-625-alizarin_crimson: var(--color-base-scale-red-625-alizarin_crimson);
--color-ref-scale-blue-500-royal_blue: var(--color-base-scale-blue-500-royal_blue);
--color-ref-scale-blue-315-royal_blue: var(--color-base-scale-blue-315-royal_blue);
--color-ref-scale-blue-565-royal_blue: var(--color-base-scale-blue-565-royal_blue);
--color-ref-scale-blue-375-royal_blue: var(--color-base-scale-blue-375-royal_blue);
--color-ref-scale-blue-625-royal_blue: var(--color-base-scale-blue-625-royal_blue);
--color-ref-scale-blue-440-royal_blue: var(--color-base-scale-blue-440-royal_blue);
--color-ref-scale-orange-375-buttercup: var(--color-base-scale-orange-375-buttercup);
--color-ref-scale-red-375-alizarin_crimson: var(--color-base-scale-red-375-alizarin_crimson);
--color-ref-scale-green-375-jungle_green: var(--color-base-scale-green-375-jungle_green);
}